# Ignore binary build files.
*.elf
*.sof
*.cdf
*.o
*.d
*.exe

# Ignore Quartus File Lock
*.flock

# Ignore Quartus db and remote
incremental_db/
db/
output_files/
RemoteSystemsTempFiles/
simulation/

# Ignore backup files
*.bak
*~

# Ignore Eclipse workspace
.metadata/
.qsys_edit/
